{% extends "pages/base.html" %}
{%load static%}
{% block title %}
    <title>Мои статьи</title>
    <link rel="stylesheet" href="{% static 'nicepage.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'Мои_статьи.css'%}" media="screen">
{% endblock title%}

{% block scriptcontent %}
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
{% endblock scriptcontent%}

{% block metacontent %} <meta property="og:title" content="Мои статьи"> {% endblock metacontent%}

{% block body %} <section class="u-align-center u-clearfix u-section-1" id="sec-ca0b">
      <div class="u-clearfix u-sheet u-sheet-1">
          <h2 class="u-text u-text-default u-text-1">Статьи пользователя {{ user.username }}</h2>
        <!-- <h1 class="u-text u-text-default u-text-4">{{ event.author }}<br>
        </h1>-->
        <a href="article_registration" class="u-border-none u-btn u-btn-round u-button-style u-grey-90 u-hover-grey-75 u-radius-50 u-btn-1">Добавить Статью</a>
          <a></a>
        <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
              <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
          {% for article in articles %}
                <a href="{{ article.get_absolute_url }}articles/{{article.id}}/" class="u-border-none u-btn u-btn-round u-button-style u-grey-90 u-hover-grey-75 u-radius-50 u-btn-2">Посмотреть статью</a>
                <a href="{{ article.get_absolute_url }}delete_article/{{article.id}}/" class="u-border-none u-btn u-btn-round u-button-style u-grey-90 u-hover-grey-75 u-radius-50 u-btn-3">Удалить статью</a>
                <h4 class="u-text u-text-default u-text-2">{{ article.title }}</h4>
                <p class="u-text u-text-default u-text-3">{{article.about}}</p>
                <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
        {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
{% endblock body %}


