{% extends "pages/base.html" %}
{%load static%}

{% block title %}
    <title>Выход</title>
    <link rel="stylesheet" href="{% static 'nicepage.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'Авторизация.css'%}" media="screen">
{% endblock title %}

{% block metacontent %}
    <meta property="og:title" content="Выход">
{% endblock metacontent %}

{% block body %}
<h2>Вы вышли из своей учетной записи</h2>
    <div class="border-top pt-3">
            <a href="main">На главную</a>
    </div>
{% endblock body %}